<!DOCTYPE html>
<html>
<head>
  <title>the Missing Link</title>
  <link rel="stylesheet" type="text/css" href="themissinglink.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  var time = 0; var date = 0;
  function checkTime(i) {
		if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
		return i;
  }
  function startTime() {
		var today = new Date();
		var h = today.getHours();
		var m = today.getMinutes();
		var s = today.getSeconds();
		h = checkTime(h);
		m = checkTime(m);
		s = checkTime(s);
		document.getElementById('txt').innerHTML =
		h + ":" + m + ":" + s;
		var t = setTimeout(startTime, 500);
  }
  </script>
</head>
<body onload="startTime();">
  <div class="header">
    <h2 class="header1">The Missing Link</h2>
  </div>
<br /><br />
<div class="container1">
<button class="button button5"><span class="area">Nood</span></button>
<button class="button button5"><span class="area">Help</span></button>
<button class="button button5"><span class="area">Zorg</span></button>
<div>
<div class="container2">
<button class="button button5"><span class="area">Gezelschap</span></button>
<button class="button button5"><span class="area">Klussen</span></button>
<button class="button button5"><span class="area">Boodschappen</span></button>
	<!-- <img src="img/images.jpg" width="640" height="640" alt="">
  </div>
  <div id="supercontaine">
<button class="buttono button1">2px Nood</button>
<button class="buttono button2">4px Help</button>
<button class="buttono button3">8px Zorg</button>
<button class="buttono button4">12px Gezelschap</button>
<button class="buttono button5">50%</button>
<button class="buttono button6">50% Klussen</button>
<button class="buttono button7">50% Boodschappen</button> -->
</div>
  <div class="footer">
    <h2 class="header1">Always Under Construction!</h2>
  </div>

</body>
</html>
