body {
  opacity: 0.8;
  background-image: url("../img/lovehelping.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vw;
  margin-left: 30vw;
}



.platform
{

background-color: grey;
border: 5px solid black;
border-radius: 20%;
  width: 60vw;
  min-height: 7vw;
  padding-left: 5vw;
  margin-top: 1vw;




}

.forename {

display: inline-block;
margin-top: 0.7vw;
margin-left: 1vw;
background-color: white;
border: 2px solid red;
border-radius: 5%;
padding: 0.5vw;





}

.name {

display: inline-block;
margin-top: 0.7vw;
margin-left: 1vw;
background-color: white;
border: 2px solid red;
border-radius: 5%;
padding: 0.5vw;


}

.zipcode {

display: inline-block;
margin-top: 0.7vw;
margin-left: 1vw;
background-color: white;
border: 2px solid red;
border-radius: 5%;
padding: 0.5vw;

}

.streetnumber {

display: inline-block;
margin-top: 0.7vw;
margin-left: 1vw;
background-color: white;
border: 2px solid red;
border-radius: 5%;
padding: 0.5vw;

}

.street {

display: inline-block;
margin-top: 0.7vw;
margin-left: 1vw;
background-color: white;
border: 2px solid red;
border-radius: 5%;
padding: 0.5vw;



}
