body {
  background-color: blue;
}



.platform
{


  box-sizing: border-box;
  background-color: green;
  width: 75vw;


}

.forename {
  margin-left: 5vw;
display: inline-block;
width: 10vw;
background-color: red;
margin: 0.5vw;


}

.name {
margin-left: 5vw;
display: inline-block;
width: 10vw;
background-color: green;

}

.zipcode {
margin-left: 5vw;
display: inline-block;
width: 10vw;
background-color: green;
}

.streetnumber {
margin-left: 5vw;
display: inline-block;
width: 10vw;
background-color: green;



}
